@font-face {
  
}


li {
  list-style: none;
}

ul {
  padding-left: 0;
}

button {
  background-color: #000;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: .7rem;
}

button:hover {
  background-color: #E18244;
  color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*App syles Section divs*/
.bookshelf-container,
.friendshelf-container {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

/*end App syles Section divs*/
