.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid pink;
}

.container {
  border: 1px solid blue;
  flex-grow: 16;
}

.navBar {
  border: 1px solid orange;
  flex-grow: 2;
}

.searchBar {
  border: 1px solid green;
  flex-grow: 1;
}
