.App {
  text-align: center;
}

.App-header {
  background: linear-gradient( #72490e, #8c5e0f);
  height: 125px;
  width: 70%;
  padding: 20px;
  margin: 20px auto;
  color: 	#fefaee;
  font-family: "Georgia", Georgia, serif;
  border-radius: 15px
}


.App-intro {
  font-size: large;
  background-color: #8c5e0f;
  width: 70%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  color: #fefaee;
  position: absolute;
  top: 200px;
  left: 268px;
}
