.genre-list-container {
  width: 80%;
  margin: auto;
}

.genre-list {
  height: auto;
  margin: auto;
  padding: 25px 5px 10px;
  background-color: rgba(51, 51, 51, .5)
}

table {
  width: 90%;
  margin: auto;
}

.genre-list tr {
  text-align: left;

}

.title {
    padding-right: 20px;
    border-bottom: 1px dashed black;
}

.table-header {
  font-weight: bold;
}

.genre-list td {
  padding-top: 10px;
}
